@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.bgdk {
  background-color: rgb(30, 28, 63);
}

.bgdk2 {
  background-color: rgb(23, 22, 49);
}